<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roiquery.analytics_demo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.roiquery.analytics_demo.ui.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.fn.core.TrackEventCustomizedActivity"
            android:label="Track Event Customized" />

        <activity android:name=".CoreActivity" />
        <activity android:name=".AdReportActivity" />
        <activity android:name=".IapReportActivity" />
        <activity android:name=".IasReportActivity" />
        <activity android:name=".UtilsActivity" />
        <activity android:name=".ui.fn.core.UserApiActivity"
            android:label="User related API" ></activity>

        <service
            android:name=".SubProcessService"
            android:process=":subProcessService" />

        <activity
            android:name=".ThirdPartyShareActivity"
            android:exported="false" />
        <activity
            android:name=".SubProcessActivity"
            android:exported="false"
            android:process=":sub" />
    </application>

</manifest>
